.header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height:96px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo{
    height:24px;
    width: 146px;
    margin-left: 30px;
}

