.header_cr {
    display: flex;
    flex-direction:row-reverse;
    position: sticky;
  top: 0;
  z-index: 100;
}
.headerbutton  {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height:96px;
    padding:30px;
}

.hbutton {
    width:80px;
    height: 50px;
    border-radius: 500px;
    padding-top: 10px;
    background-color:#FFFFFF;
    cursor: pointer;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 18px;
    color: #000000;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 10%), 0px 4px 4px rgb(0 0 0 / 4%);
    text-align:center;
    margin-bottom: 30px;
}

.hb_ul{
    text-decoration: none;
}